{{> head }}
{{> navbar }}


<div class="row">
    <div class="col-8">
        <h1>Mechita </h1>
        <p>La primera bebe, la mas fiel de todas</p>
    </div>
    <div class="col-4">
        <img src="assets/img/mechita.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}