

    
{{> head }}
{{> navbar }}

<div class="container">
     <div class="row">
          <h2 id="evento"></h2>
     </div>
     <div class="row">
          <table class="table table-bordered" id="tblCuotas">
          <thead>
               <tr>
                    <th>Nombre</th>
                    <th>Cuota</th>
                    <th>Envio wsp</th>
               </tr>
          </thead>
          <tbody id='replaceMe'>
          </tbody>
          </table>
     </div>
</div>



{{> footer }}