

{{> head }}
{{> navbar }}

<div class="container">

<div class="row">   
    
    <div class="col-8">

    <div id="mainContentNews" class="myCorner" style="text-align: left; height: auto; border-radius: 10px;"><span name="decodeable"><p style="text-align: center;">
        &nbsp;</p>
    <p align="center">
        <strong><a name="inicio"></a>VISA DE RESIDENCIA TEMPORAL DE MERCOSUR</strong></p>
    <p align="center">
        <strong>Temporal XIII</strong></p>
    <table border="0" cellpadding="1" cellspacing="1" height="402" width="400">
        <tbody>
            <tr>
                <td>
                    <p>
                        La visa de Residencia Temporal para los nacionales de los estados partes del Mercosur permite una residencia temporal de dos años, y posteriormente la transformación para residencia definitiva.</p>
                    <p>
                        De acuerdo al Artículo 16 del Decreto nº 9.199/2017:</p>
                    <p>
                        "Art. 16. El visado temporal podrá concederse con un plazo de validez de hasta un año [...] Párrafo único. El plazo de validez del visado temporal no se confunde con el plazo de la autorización de residencia. "</p>
                    <p>
                        Esta visa esta regida por el Decreto nº 6975/2009 (<a href="http://www.planalto.gov.br/ccivil_03/_Ato2007-2010/2009/Decreto/D6975.htm">Acuerdo sobre Residencia para nacionales de los Estados Partes del Mercosul</a>).&nbsp;</p>
                    <p>
                        Esta visa no se aplica a personas que se encuentren en proceso de espera de autorización de trabajo junto al Ministerio de Trabajo del Brasil (MTE)</p>
                    <p>
                        <span style="color:#ff0000;">Atención estudiantes, verificar primero con universidad brasileña la necesidad de esta visa o especificamente la visa de estudios.</span></p>
        <p>
            <span style="color:#ff0000;"><strong>*PERUANOS NATURALIZADOS</strong>&nbsp;podrán aplicar por la Visa Mercosur pasados los 5 años de haber obtenido la nacionalidad. </span></p>
        </td>
        <td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
            <p align="center">
                <a href="#Requisitos">Requisitos</a></p>
            <p align="center">
                <a href="#Menores">Requisitos adicionales para menores</a></p>
            <p align="center">
                <a href="#Tarifas">Tarifas</a></p>
            <p align="center">
                <a href="#proceso">Proceso y tiempo de entrega</a></p>
            <p align="center">
                <a href="#verificar">Verificar proceso de visa</a></p>
            <p align="center">
                <a href="http://lima.itamaraty.gov.br/es-es/tramites_por_courrier.xml">Trámite por courier para las ciudades de Arequipa, Cusco, Trujillo, Pucallpa y Piura</a></p>
            <p style="text-align: center;">
                <a href="#otras">Registro y renovación</a></p>
            <p style="text-align: center;">
                <a href="#Vacunas">Vacunas</a></p>
            <p style="text-align: center;">
                &nbsp;</p>
        </td>
        </tr>
        </tbody>
        </table>
        <p style="margin-left:18.0pt;">
            <strong><a name="Requisitos"></a>REQUISITOS (<span style="color:#ff0000;">para la versión simplificada, haz click</span> <a href="https://sistemas.mre.gov.br/kitweb/datafiles/Lima/es-es/file/consular.lima/Check%20List.pdf">aquí </a><img alt="" height="31" src="https://sistemas.mre.gov.br/kitweb/datafiles/Lima/es-es/image/WhatsApp Image 2018-11-28 at 14_11_07.jpeg" width="27">)</strong></p>
        <p style="margin-left:18.0pt;">
            &nbsp;</p>
        <p style="margin-left:18.0pt;">
            El titular del trámite deberá acercarse con los documentos indicados a seguir, en el horario de <strong>lunes a viernes de 8h15-12h00</strong></p>
        <table border="1" cellpadding="1" cellspacing="1" style="/* width: 500px */">
            <tbody>
                <tr>
                    <td>
                        &nbsp;</td>
                    <td>
                        <strong>Documentos</strong></td>
                    <td>
                        <strong>Observaciones</strong></td>
                </tr>
                <tr>
                    <td>
                        1</td>
                    <td>
                        Llenar el <strong>formulario digital</strong>, y presentar el “Recibo de Entrega de Requerimento-RER”, debidamente firmado.</td>
                    <td>
                        <p>
                            Descargue las orientaciones de llenado <a href="https://sistemas.mre.gov.br/kitweb/datafiles/Lima/es-es/file/orientacion para el llenado de fomrulario(1).pdf">aquí</a></p>
                        <p>
                            Es <strong><span style="color:#ff0000;">OBLIGATORIO </span></strong>digitalizar los siguientes documentos:</p>
                        <p>
                            1-foto y firma</p>
                        <p>
                            2-<span style="color:#000000;">hoja de pasaporte de información personal (página 2)</span></p>
                        <p>
                            <span style="color:#000000;">3- antecedentes <u>policiales</u>, <u>penales</u> y <u>judiciales</u></span></p>
                        <p>
                            <span style="color:#000000;">5- partida de matrimonio o constancia de soltero </span></p>
                        <p>
                            <span style="color:#000000;">6- partida de nacimiento</span></p>
                        <p>
                            <span style="color:#000000;">7- declaración jurada</span></p>
                        <p>
                            <span style="color:#000000;">8- movimiento migratorio</span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        2</td>
                    <td>
                        Pasaporte</td>
                    <td>
                        &nbsp;<br> Con fecha de caducidad superior a 6 meses y mínimo dos hojas en blanco</td>
                </tr>
                <tr>
                    <td>
                        3</td>
                    <td>
                        Una foto tamaño 3x4</td>
                    <td>
                        <p>
                            <strong><span style="color:#ff0000;">IMPORTANTE:</span></strong> Las fotos deberán atender a los requisitos definidos por la Organización de la Aviación Civil Internacional (OACI/ICAO)". Ingrese al siguiente enlace y verifique
                            los ejemplos presentados:<a href="https://www.icao.int/Security/mrtd/Downloads/Technical%20Reports/Annex_A-Photograph_Guidelines.pdf">http://www.icao.int/Security/mrtd/Downloads/Technical%20Reports/Annex_A-Photograph_Guidelines.pdf</a>.</p>
                        <p>
                            *<span style="color:#ff0000;">No serán aceptadas las fotos cuyas especificaciones no estén conforme a lo indicado anteriormente. </span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        4</td>
                    <td>
                        <p>
                            Certificado de Antecedentes Criminales con validez máxima de 90 días)</p>
                        <p>
                            (original&nbsp; apostillado)</p>
                    </td>
                    <td>
                        <p>
                            Deberá presentar 3 certificados:</p>
                        <p>
                            1- <a href="http://www.inpe.gob.pe/informaci%C3%B3n.html">Judiciales</a></p>
                        <p>
                            2-<a href="http://www.pj.gob.pe/wps/wcm/connect/cortesuprema/s_cortes_suprema_home/as_servicios/as_enlaces_de_interes/as_registro_nacional_condenas">Penales</a></p>
                        <p>
                            3-<a href="http://www.mininter.gob.pe/content/antecedentes-policiales-para-uso-en-el-pa%C3%ADs-y-el-extranjero-0">Policiales</a> : <strong>nº 3 - para uso en el extranjero</strong></p>
                        <p>
                            De haber residido en un tercer país en los ultimos 5 años, presentar el certificado emitido por la Interpol.</p>
                        <p>
                            Todos los documentos deberán estar apostillados por el Ministerio de Relaciones Exteriores del Perú y estar válidos hasta el día de su viaje a Brasil, debido a que deben ser presentados a la Policía Federal al momento de su registro.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        5</td>
                    <td>
                        <p>
                            Declaración Jurada de "carencia de antecedentes internacionales penales y/o policiales"</p>
                        <p>
                            (original apostillado)</p>
                    </td>
                    <td>
                        <p>
                            Descargue <a href="https://sistemas.mre.gov.br/kitweb/datafiles/Lima/es-es/file/CONSULAR%20-%20DECLARACI%C3%93N%20JURADA%20modelo%20sugerido%20VIRET.doc">aquí</a> el Modelo Sugerido.</p>
                        <p>
                            El documento deberá ser firmado y la firma reconocida ante <strong>Notário Público</strong>, <strong>Colegio de Notarios</strong> y apostillada por el <strong>Ministerio de Relaciones Exteriores</strong></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        6</td>
                    <td>
                        <p>
                            Partida de Nacimiento</p>
                        <p>
                            (original apostillado)</p>
                    </td>
                    <td>
                        <p>
                            &nbsp;<br> Si emitida en Perú, deberá ser apostillada por el <a href="http://lima.itamaraty.gov.br/es-es/apostilla_-_traducciones.xml">Ministerio de Relaciones Exteriores del Perú</a>.</p>
                        <p>
                            <br> Si emitida en otro país, apostillada en el país de origen o legalizada por el Consulado brasileño del país de origen del documento, según corresponda.</p>
                        <p>
                            <span style="color:#ff0000;"><strong>*PERUANOS NATURALIZADOS</strong>&nbsp;podrán aplicar por la Visa Mercosur pasados los 5 años de haber obtenido la nacionalidad.</span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        7</td>
                    <td>
                        <p>
                            Comprobante de Estado Civil</p>
                        <p>
                            (original apostillado)</p>
                    </td>
                    <td>
                        <p>
                            <span style="color:#008000;"><strong>Si casado</strong></span>: partida de matrimonio</p>
                        <p>
                            <span style="color:#008000;"><strong>Si divorciado</strong></span>: partida de matrimonio con la anotación de divorcio</p>
                        <p>
                            <span style="color:#008000;"><strong>Si soltero</strong></span>: "<strong>Constancia Negativa de Inscripción de Matrimonio</strong>" emitida por la RENIEC, o "<strong>Declaración de Solteria</strong>", emitida por la Municipalidad.</p>
                        <p>
                            Los certificados de matrimonio y/o partidas de nacimiento emitidas por Paraguay, Uruguay, Colombia, Ecuador, Bolivia o Chile deben estar apostilladas por la autoridad competente en dichos países.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        8</td>
                    <td>
                        <p>
                            <a href="https://www.migraciones.gob.pe/index.php/control-migratorio-de-salida-de-peruanos/">Certificado de Movimiento Migratorio</a></p>
                        <p>
                            (original)</p>
                    </td>
                    <td>
                        <p>
                            Reciente, emitido por la Superintendencia Nacional de Migraciones, de los últimos cinco años.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        9</td>
                    <td>
                        Comprobante de pago de <strong>US$100.00</strong></td>
                    <td>
                        <p>
                            Banco Continental, nuestra cuenta se identifica por el siguiente nombre: <strong>Cuenta Recaudadora de la Embajada de Brasil</strong>. Indicar al Banco que el comprobante debe contener la palabra VISA y nombre del solicitante
                            de la visa.</p>
                        <p>
                            <span style="color:#ff0000;"><strong>Los pagos de las solicitudes de visa no serán reembolsados, independiente de su concesión.</strong></span></p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p style="margin-left:18.0pt;display: none;">
            &nbsp;</p>
        <p style="display: none;">
            <strong><a name="Menores"></a>TRÁMITES PARA MENORES DE EDAD&nbsp;&nbsp;&nbsp;</strong></p>
        <p style="display: none;">
            Uno de los padres deberá acercarse con los documentos indicados a seguir, en el horario<strong> de <strong>lunes a viernes de 8h15-12h00</strong>. </strong>La presencia del menor no es obligatoria.&nbsp;</p>
        <table border="1" cellpadding="1" cellspacing="1" style="width: 500px;display: none;">
            <tbody>
                <tr>
                    <td>
                        &nbsp;</td>
                    <td>
                        Documentos</td>
                    <td>
                        Observações</td>
                </tr>
                <tr>
                    <td>
                        1</td>
                    <td>
                        Llenar el formulario digital, y presentar el “Recibo de Entrega de Requerimento-RER”, debidamente firmado <strong>por ambos padres</strong>.</td>
                    <td>
                        <p>
                            Descargue las orientaciones de llenado <a href="https://sistemas.mre.gov.br/kitweb/datafiles/Lima/es-es/file/orientacion%20para%20el%20llenado%20de%20fomrulario(1).pdf">aquí</a></p>
                        <p>
                            Es <span style="color:#ff0000;"><strong>OBLIGATORIO </strong></span>digitalizar los siguientes documentos:</p>
                        <p>
                            1-foto y firma</p>
                        <p>
                            2-hoja de pasaporte de información personal (página 2)</p>
                        <p>
                            3- partida de nacimiento</p>
                        <p>
                            4- autorización de trámite de visa para menor</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        2</td>
                    <td>
                        Pasaporte</td>
                    <td>
                        &nbsp;Con fecha de caducidad superior a 6 meses y mínimo dos hojas en blanco</td>
                </tr>
                <tr>
                    <td>
                        3</td>
                    <td>
                        &nbsp;Una foto tamaño 3x4</td>
                    <td>
                        &nbsp;<span style="color:#ff0000;"><strong>IMPORTANTE:</strong></span> Las fotos deberán atender a los requisitos definidos por la Organización de la Aviación Civil Internacional (OACI/ICAO)". Ingrese al siguiente enlace y verifique
                        los ejemplos presentados:<a href="https://www.icao.int/Security/mrtd/Downloads/Technical%20Reports/Annex_A-Photograph_Guidelines.pdf">http://www.icao.int/Security/mrtd/Downloads/Technical%20Reports/Annex_A-Photograph_Guidelines.pdf</a>.<br>                        *
                        <span style="color:#ff0000;">No serán aceptadas las fotos cuyas especificaciones no estén conforme a lo indicado anteriormente. </span><br> &nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        4</td>
                    <td>
                        <p>
                            Partida de nacimiento</p>
                        <p>
                            (original apostillado)</p>
                    </td>
                    <td>
                        <p>
                            Si emitida en Perú, deberá ser apostillada por el <a href="https://www.icao.int/Security/mrtd/Downloads/Technical%20Reports/Annex_A-Photograph_Guidelines.pdf">Ministerio de Relaciones Exteriores del Perú</a>.</p>
                        <p>
                            &nbsp;</p>
                        <p>
                            Si emitida en otro país, apostillada en el país de origen o legalizada por el Consulado brasileño del país de origen del documento, según corresponda.</p>
                        <p>
                            <span style="color:#ff0000;"><strong>*PERUANOS NATURALIZADOS</strong>&nbsp;podrán aplicar por la Visa Mercosur pasados los 5 años de haber obtenido la nacionalidad.</span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        5</td>
                    <td>
                        <p>
                            Autorización para trámite de visa para menor</p>
                        <p>
                            (original apostillado)</p>
                    </td>
                    <td>
                        <p>
                            Descargue el modelo <a href="https://sistemas.mre.gov.br/kitweb/datafiles/Lima/es-es/file/CONSULAR%20-%20FORMULARIO%20-%20AUTORIZACAO%20DE%20TRAMITE%20DE%20VISA%20PARA%20MENOR(1).doc">aquí.</a></p>
                        <p>
                            El formulario deberá ser firmado por ambos padres y sus firmas reconocidas ante el Notário público, Colégio de Notários y apostillado por el Ministério de Relaciones Exteriores del Perú.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        6</td>
                    <td>
                        Comprobante de pago de <strong>US$100.00</strong></td>
                    <td>
                        <p>
                            &nbsp;Banco Continental, nuestra cuenta se identifica por el siguiente nombre: <strong>Cuenta Recaudadora de la Embajada de Brasil</strong>. Indicar al Banco que el comprobante debe contener la palabra VISA y nombre del solicitante
                            de la visa.</p>
                        <p>
                            <span style="color:#ff0000;"><strong>Los pagos de las solicitudes de visa no serán reembolsados, independiente de su concesión.</strong></span></p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>
            <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp; <a href="#inicio"><em>(subir)</em></a></p>
        <p style="display: none;">
            &nbsp;</p>
        <p>
            <strong><a name="Tarifas"></a>TARIFAS A PAGAR</strong></p>
        <p style="margin-left:18.0pt;">
            Banco Continental, nuestra cuenta se identifica por el siguiente nombre: Cuenta Recaudadora de la Embajada de Brasil.&nbsp; Indicar al Banco que comprobante debe contener la palabra VISA y nombre del solicitante de la visa.</p>
        <p style="margin-left:18.0pt;">
            Los pagos se realizan después de la revisión de documentos presentados.&nbsp;</p>
        <ul>
            <li style="margin-left: 72pt;">
                Costo de visa: U$ 100.00</li>
        </ul>
        <p>
            <span style="color:#ff0000;"><strong>Los pagos de las solicitudes de visa no serán reembolsados, independiente de su concesión.</strong></span></p>
        <p>
            <strong><a name="proceso"></a>PROCESO Y TIEMPO DE ENTREGA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; </strong>
            <a href="#inicio"><em>(subir)</em></a>
        </p>
        <ul>
            <li>
                <span style="color:#0000ff;"><strong>TRAMITE EN HASTA 10 DÍAS</strong></span></li>
        </ul>
        <ul>
            <li>
                <strong>La atención se da por orden de llegada, no es necesario previa cita. </strong></li>
        </ul>
        <ul>
            <li>
                Recepción de solicitudes: Lunes a viernes de 8:15 a 12:00</li>
        </ul>
        <ul>
            <li>
                Devolución de pasaporte: Lunes a viernes de 3:00 a 4:00pm</li>
        </ul>
        <ul>
            <li>
                Permitido trámite por courrier únicamente para las ciudades de Arequipa, Cusco, Trujillo y Piura. Ingresar <a href="http://lima.itamaraty.gov.br/es-es/tramites_por_courrier_%28espanol%29.xml">aquí</a>.</li>
        </ul>
        <p>
            <span style="color:#0000ff;"><strong>ATENCION:</strong></span></p>
        <ul>
            <li>
                No se recibirán solicitudes con documentos faltantes o sin el pago correspondiente.</li>
        </ul>
        <ul>
            <li>
                La compra del <strong>pasaje</strong> con fecha anterior&nbsp; a la fecha de entrega de la visa <strong>no es garantía para que se tramite en corto plazo</strong>.</li>
        </ul>
        <p>
            &nbsp;</p>
        <p>
            <strong><a name="verificar"></a>VERIFICAR PROCESO DE VISA</strong></p>
        <p>
            Puede hacer seguimiento al proceso de su visa, ingrese <a href="https://sistemas.mre.gov.br/kitweb/datafiles/Lima/es-es/file/VERIFICAR%20PROCESO%20DE%20VISA.pdf">aquí</a> y siga las instrucciones.</p>
        <p>
            &nbsp;</p>
        <p>
            <strong><a name="otras"></a>REGISTRO Y RENOVACIÓN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>
            <a href="#inicio"><em>(subir)</em></a>
        </p>
        <p style="margin-left:54.0pt;">
            <strong>a.&nbsp;&nbsp;&nbsp;Registro en el Departamento de Policía Federal</strong></p>
        <p style="margin-left: 80px;">
            Los portadores de Visto Temporario VIRET, deben obligatoriamente acercarse al Departamento de Policía Federal de la ciudad donde residirán o la más cercana, dentro del primer mes de llegada a Brasil, para <a href="http://www.pf.gov.br/servicos-pf/imigracao/cedula-de-identidade-de-estrangeiro">registrarse</a>.</p>
        <p style="margin-left: 80px;">
            <span style="color:#ff0000;"><strong>* Importante para registro de visa en Brasil: </strong>La Policia Federal está exigiendo, como parte de los requisitos para el Registro de Visa&nbsp; Temporaria,&nbsp; la presentación de la partida de nacimiento debidamente apostillada por el Ministerio de Relaciones Exteriores del Perú, y traducida por traductor inscrito en la <a href="https://sistemas.mre.gov.br/kitweb/datafiles/Lima/es-es/file/Junta%20Comercial%20de%20Tradutores(1).pdf">Junta Comercial en Brasil</a>.</span></p>
        <p align="center">
            &nbsp;</p>
        <p style="margin-left:54.0pt;">
            <strong>b.&nbsp;&nbsp;&nbsp;Plazo para renovar&nbsp;la visa</strong></p>
        <p style="margin-left:54.0pt;">
            La renovación de la visa deberá realizarse en el Departamento de Policía Federal, hasta un mes antes de que la visa expire.</p>
        <p style="margin-left:54.0pt;">
            &nbsp;</p>
        <p>
            <strong><a name="Vacunas"></a>VACUNAS</strong></p>
        <p>
            La Agencia Nacional de Vigilancia Sanitaria &nbsp;(ANVISA), actualmente no exige la vacuna contra la fiebre amarilla para ingresar a territorio nacional de viajantes procedentes del exterior.&nbsp;Existe sólo una recomendación de vacunación a los viajantes,
            nacionales e internacionales, con destino a regiones de floresta y ríos del país.</p>
        <p style="margin-left:36.0pt;">
            <br>
            <em><strong>Si necesita información adicional, envíe un e-mail a </strong></em><a href="mailto:consular.lima@itamaraty.gov.br"><strong>consular.lima@itamaraty.gov.br</strong></a></p>
        </span>
    </div>

    </div>
</div>

</div>

{{> footer }}